body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-size: 3.5vw;
  text-align: center;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  top: 40;
}

.netflix-font {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.5vw;
}

.image-fit {
  object-fit: cover;
}

.profiles-row {
  margin: 2em 0;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: grey;
  text-decoration: none;
}
.profile:hover {
  color: #fff;
  text-decoration: none;
}
.profiles-gate-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  border: 0.3em solid transparent;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #333;
  border-radius: 4px;
  border: none;
}
.profiles-gate-container:hover {
  border: solid #fff;
}
.profile-name {
  line-height: 1.2em;
  min-height: 1.8em;
  text-align: center;
  display: block;
  padding: 8px;
}
.profile-name:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.adjust-center {
  height: 75vh;
  width: 100vw;
}

.profile-button {
  display: block;
  margin: 2em 0 1em 0;
  font-size: 1.3vw;
}
/* 
.invitation-heading {
  border: 1px solid grey;
  margin: 2em 0 1em 0;
  color: grey;
  text-transform: uppercase;
  padding: .5em 1.5em;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: .9em;
} */

.invitation-heading a,
.invitation-heading span {
  border: 1px solid grey;
  color: grey !important;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 0.9em;
}

.invitation-heading a:hover,
.invitation-heading span:hover {
  color: #fff !important;
  border: 1px solid #fff;
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

.welcome-logo {
	width: 155px;
}

@media screen and (min-width: 330px) and (max-width: 767px){
  .logo {
    text-align: center;
  }
  .heading {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 1150px){
  .logo {
      margin-right: 25px;
  } 
}

.container-div > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto 40px auto;
}
.container-div { 
	display: flex;
	height: 100vh;
	width: 100vw; 
	align-Items: center;
	justify-Content: center;
}
.footer {
  height: 100px;
}

.location-text {
  padding: 15px;
  text-align: center;
}

.location-text > a {
  color:yellow;
}