.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  height: 70px;
  z-index: 2;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 35px;
  width: 100px;
  object-fit: contain;
}
.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

@media screen and (min-width: 425px) and (max-width: 767px){
  img.nav__logo {
    text-align: center;
  }
}

/* @media screen and (min-width: 1150px){
  .nav__logo {
      margin-right: 25px;
  } 
} */