.posterrow {
  margin-left: 10px !important;
  color: white;
  width: 100%;
  padding-right: 20px;
  margin-top: 20px;
}
.posterrow::-webkit-scrollbar {
  display: none;
}
.wrapper {
  position: relative;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 25px;
  scroll-behavior: smooth;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.angleLeft,
.angleRight {
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 33%;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
}
.angleLeftLarge,
.angleRightLarge {
  color: white;
  font-size: 2.3rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 40%;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
}
.angleLeft:hover,
.angleRight:hover,
.angleLeftLarge:hover,
.angleRightLarge:hover {
  cursor: pointer;
}
.row__posters .angleLeft {
  position: absolute;
  left: 0;
}
.row__posters .angleRight {
  position: absolute;
  right: 0;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 101px;
  margin-right: 10px;
  transition: transform 450ms;
  border-color: #fff;
}
.row__poster:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08);
}
.row__posterLarge {
  max-height: 270px;
}
.row__posterLarge:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2);
}
.row_title {
  margin-left: 20px;
}